{% extends "create.html" %}
{% block body %}

  <div class="mainContainer">
    <div class = mainHeading>
      <h1>Delete Your Posts</h1>
    </div>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    
  </head>
  <body>
    <form method="POST" class="decor" action="/delete">
      <div class="form-left-decoration"></div>
      <div class="form-right-decoration"></div>
      <div class="circle"></div>
      <div class="form-inner">
        <input type="text" placeholder="Post Name" val="" name="postname">
        <button type="submit" href="/feed">Delete</button>
      </div>
    </form>
    {% endblock %}
</body>

</html>
