<!DOCTYPE html>
<html>
<head>
<title>Login Page</title>
	<link rel="stylesheet" href="loggin.css">
</head>
<body>
	<h1>SOCIAL X CHANGE</h1> 

    <form action="/action_page.php">
        <label for="fname">Username:</label>
        <input type="text" id="fname" name="fname" placeholder="Enter In you Username"><br><br>
        <label for="lname">Password:</label>
        <input type="text" id="lname" name="lname" placeholder="Enter In your Password"><br><br>
        <button type="button">Log In</button>
        <button type="button">Sign Up</button>
      </form>
</body>
</html>
