<!DOCTYPE html>
<html>
<head>
<title>Login Page</title>
<style>
body {
	background-color: black;
	color: black;
}
center {
  margin: auto;
  width: 50%;
	background-color: white;
}
/* label {
	color: white;
}
	h1{
		color: black;
	}  */
</style>
</head>
<body>
	<center>
	<h1>TECHNICALLY SOCIAL </h1> 
    <form method="POST" action="/login">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter In you Username" value = ""><br><br>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" placeholder="Enter In your Password" value = ""><br><br>
        <button type="submit">Log In</button>
        <button><a href= "/signup">Sign Up</a></button>
      </form>
		</center>
</body>
</html>
