<!DOCTYPE html>
<html>
<head>
<title>Login Page</title>
<style>
body {
	background-color: black;
	color: black;
}
center {
  margin: auto;
  width: 50%;
	background-color: white;
}
/* label {
	color: white;
}
	h1{
		color: black;
	}  */
</style>
</head>
<body>
	<center>
	<h1>TECHNICALLY SOCIAL </h1> 
    <form action="/action_page.php">
        <label for="fname">Username:</label>
        <input type="text" id="fname" name="fname" placeholder="Enter In you Username"><br><br>
        <label for="lname">Password:</label>
        <input type="text" id="lname" name="lname" placeholder="Enter In your Password"><br><br>
        <button type="button">Log In</button>
        <button type="button">Sign Up</button>
      </form>
		</center>
</body>
</html>
