<!DOCTYPE html>
<html>
<head>
<title>Login Page</title>
<style>
body {
	background-color: black;
	color: black;
}
center {
  margin: auto;
  width: 60%;
  background-color: white;
}
long_box {
	height:200px;
  font-size:14pt;
}
	h1{
		color: black;
	} 
</style>
</head>
<body>
	<center>
	<h1>TECHNICALLY SOCIAL </h1> 
    <form method="post" action="/action_page.php">
        <label for="username">Pick a Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter In your Username"><br><br>
        <label for="password">Pick a Password:</label>
        <input type="text" id="password" name="password" placeholder="Enter In your Password"><br><br>
			<label for="password1">Confirm Password:</label>
        <input type="text" id="password1" name="password1" placeholder="Re-enter your Password"><br><br>
			<label for="bio">Enter a Bio for your Profile:</label>
			<long_box>
        <input type="text" id="bio" name="bio" placeholder="Enter In your Bio"><br><br>
				</long_box>
        <button type="button">Sign Up</button>
      </form>
		</center>
</body>
</html>
