<!DOCTYPE html>
<html>
<head>
<title>Login Page</title>
<style>
body {
	background-color: black;
	color: black;
}
center {
  margin: auto;
  width: 60%;
  background-color: white;
}
long_box {
	height:200px;
  font-size:14pt;
}
	h1{
		color: black;
	} 
</style>
</head>
<body>
	<center>
	<h1>TECHNICALLY SOCIAL </h1> 
    <form action="/action_page.php">
        <label for="fname">Pick a Username:</label>
        <input type="text" id="fname" name="fname" placeholder="Enter In your Username"><br><br>
        <label for="lname">Pick a Password:</label>
        <input type="text" id="lname" name="lname" placeholder="Enter In your Password"><br><br>
			<label for="lname">Confirm Password:</label>
        <input type="text" id="lname" name="lname" placeholder="Re-enter your Password"><br><br>
			<label for="lname">Enter a Bio for your Profile:</label>
			<long_box>
        <input type="text" id="lname" name="lname" placeholder="Enter In your Bio"><br><br>
				</long_box>
        <button type="button">Sign Up</button>
      </form>
		</center>
</body>
</html>
