<!DOCTYPE html>
<html>
<head>
<title>SignUp Page</title>
<style>
body {
	background-color: black;
	color: black;
}
center {
  margin: auto;
  width: 60%;
  background-color: white;
}
long_box {
	height:200px;
  font-size:14pt;
}
	h1{
		color: black;
	} 
</style>
</head>
<body>
	<center>
	<h1>TECHNICALLY SOCIAL </h1> 
    <form method="POST" action="/signup">
        <label for="username">Pick a Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter In your Username" value = "" ><br><br>
        <label for="password">Pick a Password:</label>
        <input type="text" id="password" name="password" placeholder="at least one lower, upper, num and special char" value = ""><br><br>
			<label for="password1">Confirm Password:</label>
        <input type="text" id="password1" name="password1" placeholder="Re-enter your Password" value = ""><br><br>
			<label for="bio">Enter a your Profile photo url:</label>
			<long_box>
        <input type="text" id="image_url" name="image_url" placeholder="Enter your image url" value = ""><br><br>
				</long_box>
        <button type="submit">Sign Up</button>
      </form>
		</center>
</body>
</html>
